@media only screen and (min-width: 961px) {
  .cursor {
    pointer-events: none;
    width: 10px;
    height: 10px;
    mix-blend-mode: difference;
    border-radius: 50%;
    background-color: #ddd;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
}
