/* ===== FONTS ===== 

'helveticaregular'
'helveticabold'
'helveticabold_oblique'
'helveticaoblique'
'wagonextra_light_italic'
'ragnorthbold'
'wagonextra_light'

shift+alt+f
*/
@media only screen and (min-width: 1101px) {
  /* ------- PRIMEIRO -------*/
  .first p {
    text-align: center;
  }
  .first h1 {
    margin: 0 0 0 0;
    font-variant: small-caps;
    text-align: center;
    font-size: 8vw;
  }
  .first .div1 {
    font-family: "ragnorthbold", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first .div1 h1 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .first .div2 {
    letter-spacing: 0.7vw;
    font-family: "wagonextra_light_italic", serif;
  }
  .first .div2 h1 {
    font-weight: 300;
  }
  .first .div4 {
    font-family: "helveticaoblique", sans-serif;
  }
  .first .div3 {
    margin-top: 25px;
    margin-left: 30px;
  }
  .first .div3 p {
    text-align: left;
  }
  .first .div5 {
    display: table-cell;
  }
  .first .div5 p {
    vertical-align: bottom;
  }
  /* ------- SEGUNDO -------*/
  .second h1 {
    font-family: "wagonextra_light", serif;
    margin: 0 0 0 0;
    font-size: 6vw;
    font-weight: 550;
  }
  .second p {
    margin: 0 0 0 0;
    font-size: 0.75vw;
  }
  .second .div1,
  .second .div4 {
    text-align: right;
  }
  .second .div1 h1,
  .second .div4 h1 {
    font-family: "wagonextra_light_italic", serif;
    font-weight: 100;
  }
  .second .div3 hr {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    padding: 0;
    height: 1.5px;
    border: 0;
    border-top: 1.5px solid #161616;
  }
  /* ------- TERCEIRO -------*/
  .third .hiddenn {
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  .third .hiddenn:hover {
    visibility: visible;
    opacity: 1;
  }
  .third p {
    position: absolute;
    font-size: 1.1vw;
    font-variant: small-caps;
    width: 29vw;
  }
  .third .about :first-child {
    margin-left: 15vw;
    margin-top: 5vw;
  }
  .third .about :nth-child(2) {
    margin-left: 55vw;
    margin-top: 20vw;
  }
  /* ------- ULTIMO -------*/
  .last h1 {
    font-family: "wagonextra_light", serif;
    margin: 0 0 0 0;
    font-weight: 100;
    font-size: 6vw;
  }
  .last h2 {
    font-size: 3vw;
    font-family: "wagonextra_light_italic", serif;
    margin: 0 0 0 0;
    font-weight: 50;
  }
  .last hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    padding: 0;
    height: 1.5px;
    border: 0;
    border-top: 1.5px solid #161616;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1100px) {
  /* ------- PRIMEIRO -------*/
  .first h1 {
    margin: 0 0 0 0;
    font-variant: small-caps;
    text-align: center;
    font-size: 9.5vw;
  }
  .first .div1 {
    font-family: "ragnorthbold", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first .div1 h1 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .first .div2 {
    letter-spacing: 0.7vw;
    font-family: "wagonextra_light_italic", serif;
  }
  .first .div2 h1 {
    font-weight: 300;
  }
  .first .div3 p {
    text-align: left;
  }
  .first .div4 {
    font-family: "helveticaoblique";
    text-align: center;
  }
  /* ------- SEGUNDO -------*/
  .second h1 {
    font-family: "wagonextra_light", serif;
    margin: 0 0 0 0;
    font-size: 8vw;
    font-weight: 550;
  }
  .second .div1,
  .second .div4 {
    text-align: right;
  }
  .second .div1 h1,
  .second .div4 h1 {
    font-family: "wagonextra_light_italic", serif;
    font-weight: 100;
  }
  .second .div3 hr {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    padding: 0;
    height: 1.5px;
    border: 0;
    border-top: 1.5px solid #161616;
  }
  /* ------- TERCEIRO -------*/
  .third .hiddenn {
    opacity: 1;
  }
  .third p {
    position: relative;
    font-size: 2.3vw;
    font-variant: small-caps;
    width: 50vw;
  }
  .third .about :nth-child(2) {
    margin-top: 5vw;
    margin-left: 30vw;
  }
  /* ------- ULTIMO -------*/
  .last h1 {
    font-family: "wagonextra_light", serif;
    margin: 0 0 0 0;
    font-weight: 100;
    font-size: 6vw;
  }
  .last h2 {
    font-size: 3vw;
    font-family: "wagonextra_light_italic", serif;
    margin: 0 0 0 0;
    font-weight: 50;
  }
}

@media only screen and (min-width: 451px) and (max-width: 800px) {
  .first h1 {
    margin: 0 0 0 3.5vw;
    font-variant: small-caps;
    font-size: 24vw;
  }
  .first .div1 {
    font-family: "ragnorthbold", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first .div1 h1 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .first .div2 {
    letter-spacing: 2vw;
    font-family: "wagonextra_light_italic", serif;
  }
  .first .div2 h1 {
    text-align: center;
    font-weight: 300;
  }
  .first .div3 {
    margin-top: -10vw;
    margin-left: -3vw;
  }
  .first .div3 p {
    text-align: left;
  }
  .first .div4 {
    font-family: "helveticaoblique";
    text-align: center;
  }
  /* ------- SEGUNDO -------*/
  .second h1 {
    font-family: "wagonextra_light", serif;
    margin: 0 0 0 0;
    font-size: 11vw;
    font-weight: 550;
  }
  .second .div1,
  .second .div4 {
    text-align: right;
  }
  .second .div1 h1,
  .second .div4 h1 {
    font-family: "wagonextra_light_italic", serif;
    font-weight: 100;
  }
  .second .div3 hr {
    visibility: hidden;
  }
  /* ------- TERCEIRO -------*/
  .third .hiddenn {
    opacity: 1;
  }
  .third p {
    position: relative;
    font-size: 4vw;
    font-variant: small-caps;
    width: 75vw;
  }
  .third .about :nth-child(2) {
    margin-top: 5vw;
  }
  /* ------- ULTIMO -------*/
  .last h1 {
    font-family: "wagonextra_light", serif;
    margin: 0 0 0 0;
    font-weight: 100;
    font-size: 7.8vw;
  }
  .last h2 {
    font-size: 6vw;
    font-family: "wagonextra_light_italic", serif;
    margin: 0 0 0 0;
    font-weight: 50;
  }
}

@media only screen and (max-width: 450px) {
  /* ------- PRIMEIRO -------*/
  .first h1 {
    margin: 0 0 0 3.5vw;
    font-variant: small-caps;
    font-size: 24vw;
  }
  .first .div1 {
    font-family: "ragnorthbold", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first .div1 h1 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .first .div2 {
    letter-spacing: 2vw;
    font-family: "wagonextra_light_italic", serif;
  }
  .first .div2 h1 {
    text-align: center;
    font-weight: 300;
  }
  .first .div3 {
    margin-top: -25vw;
    margin-left: -3vw;
  }
  .first .div3 p {
    text-align: left;
  }
  .first .div4 {
    font-family: "helveticaoblique";
    text-align: center;
  }
  /* ------- SEGUNDO -------*/
  .second h1 {
    font-family: "wagonextra_light", serif;
    margin: 0 0 0 0;
    font-size: 11vw;
    font-weight: 550;
  }
  .second .div1,
  .second .div4 {
    text-align: right;
  }
  .second .div1 h1,
  .second .div4 h1 {
    font-family: "wagonextra_light_italic", serif;
    font-weight: 100;
  }
  .second .div3 hr {
    visibility: hidden;
  }
  /* ------- TERCEIRO -------*/
  .third .hiddenn {
    opacity: 1;
  }
  .third p {
    position: relative;
    font-size: 4vw;
    font-variant: small-caps;
    width: 75vw;
  }
  .third .about :nth-child(2) {
    margin-top: 5vw;
  }
  /* ------- ULTIMO -------*/
  .last h1 {
    font-family: "wagonextra_light", serif;
    margin: 0 0 0 0;
    font-weight: 100;
    font-size: 7.8vw;
  }
  .last h2 {
    font-size: 6vw;
    font-family: "wagonextra_light_italic", serif;
    margin: 0 0 0 0;
    font-weight: 50;
  }
}
/*# sourceMappingURL=main.css.map */